.favourites {
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  .row {
    margin: 2rem auto;
    max-width: 100%;
  }

  .card {
    background-color: $background-color;
    border: 1px solid lighten($accent-color, 40%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    .card-text {
      font-size: 1.2rem;
      text-align: center;
    }

    .remove-button {
      font-size: 0.75rem;
      padding: 0.3rem 0.75rem;
      background-color: $primary-color;
      color: white;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      align-self: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  // Media Queries
  @media (min-width: 768px) {
    h2 {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }
  }
}
