.favourites {
  text-align: center;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem auto;
    max-width: 100%;
  }

  .card {
    background-color: $background-color;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(25% - 2rem); /* Ensure 4 cards per row */
    margin: 1rem;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
      flex-grow: 1; 
    }

    .card-text {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 3; 
      -webkit-line-clamp: 3;
      height: auto;
      flex-grow: 1; 
    }

    .btn {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      align-self: center;
      margin-top: auto;
      
      &:hover {
        background-color: darken($secondary-color, 20%);
        color: white;
      }

      i {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      flex: 1 1 calc(100% - 2rem);
    }
  }
}
