.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: $spacer-3;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  margin-bottom: $spacer-4;

  .hero-content {
    max-width: 500px;
    padding-right: $spacer-4;
    text-align: left; /* Ensure left-aligned text */
    
    h1 {
      font-size: 2.5rem;
      color: white;
    }

    p {
      font-size: 1.2rem;
      color: white;
      margin-bottom: $spacer-2;
    }

    .btn {
      font-size: 1.2rem;
      background-color: lighten($secondary-color, 10%);
      border-radius: $border-radius-lg;
      padding: 0.75rem 1.5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($secondary-color, 15%);
        // transform: translateY(-2px);
      }
    }
  }

  .hero-image {
    max-width: 200px; 
    border-radius: $border-radius;
    margin-left: $spacer-4;
  }
}
