.jokes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; 
}

.joke-content {
  background-color: $background-color;
  padding: 1.5rem; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  margin-bottom: 1.5rem; 

  p {
    font-size: 1.2rem; 
    color: $text-color;
  }

  .btn {
    font-size: 1.2rem; 
    margin-top: 0.5rem;
  }
}

.btn-primary {
  margin-top: 1rem; 
}

select {
  margin-bottom: 1.5rem; 
  font-size: 1.2rem; 
}

button {
  cursor: pointer;
}
