.jokes {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke-content {
  background-color: $background-color;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0; 

  p {
    font-size: 1.5rem;
    color: $text-color;
  }

  .btn {
    font-size: 1.5rem;
    margin-top: 1rem; 
  }
}

.btn-primary {
  align-self: center; 
  margin-top: 2rem;
}


select {
  margin-bottom: 2rem; 
}

button {
  cursor: pointer; 
}

.joke-content {
  max-width: 600px;
  text-align: center;
}